{% extends 'core/index.html' %}
{% load static %}

{% block title %}
Sign Up!
{% endblock %}

{% block import %}
    <link rel='stylesheet' href="{% static 'css/auth.css' %}">
{% endblock %}

{% block main %}
    <div id='main'>
        <h1>Sign Up to Gabriel's Blog</h1>

        {% if error %}
            <p>Username is already taken</p>
        {% endif %}

        <form action='' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type='submit' value='Create Account'>
        </form>

        <a href='../login'>Already have an account? Login!</a>
    </div>
{% endblock %}


