{% extends 'core/index.html' %}
{% load static %}

{% block title %}
Edit post
{% endblock %}

{% block import %} 
    <link rel='stylesheet' href="{% static 'css/write_post.css' %}">
{% endblock %}

{% block main %}
    <h1>Edit post</h1> 

    <a href='../delete/{{post.id}}'>Delete post</a>
    <br>
    <a href='javascript:history.back()'>Back</a>

    <div id='main'>
        <form action='' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type='submit' value='EDIT POST'>
        </form>
    </div>
{% endblock %}


