{% extends 'core/index.html' %}
{% load static %}

{% block title %}
Main posts
{% endblock %}

{% block import %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
{% endblock %}

{% block main %}
    <h1>Main posts</h1>

    {% if user %}
        {% if user.can_post %}
            <a href='write_post'>Write post</a>
        {% endif %}
    {% else %}
        <a href='signup'>Signup to comment on posts</a>
    {% endif %}

    <hr>

    <div id='posts'>
        {% if posts|length %}
            {% for post in posts %} 
                {% if post.public or post.author == user %}
                    <div id='post'>
                        <p class='written_by'></p>

                        <script>
                            var written_by_array = document.getElementsByClassName('written_by');
                            var written_by = written_by_array[written_by_array.length - 1];
                            var year = "{{post.datetime.year}}";
                            var month = "{{post.datetime.month}}";
                            var day = "{{post.datetime.day}}";
                            var hour = "{{post.datetime.hour}}";
                            var minutes = "{{post.datetime.minute}}";
                            var seconds = "{{post.datetime.second}}";
                            
                            var date = new Date(Date.UTC(year, month - 1, day, hour, minutes, seconds));
                            var local_date = date.toDateString();
                            var local_time = date.toLocaleTimeString();
                            
                            written_by.textContent = `Written by {{post.author}} in ${local_date}, ${local_time}`;  
                        </script>

                        {% if not post.public %}
                            <p>This post is private</p>
                        {% endif %}

                        <h1>{{post.title}}</h1>

                        <div id='content'>
                            {% for line in post.break_content %}
                                {% if line.0 == '#' %}
                                    <b>{{line|slice:'1:'}}</b>
                                {% elif line.0 == '$' %}
                                    <i>{{line|slice:'1:'}}</i>
                                {% elif line.0 == '%' %}
                                    <u>{{line|slice:'1:'}}</u>
                                {% else %}
                                    {{line}}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </div>

                        <div id='links'>
                            {% if post.author == user %}
                                <a href='edit/{{post.id}}'>Edit Post</a>
                            {% endif %}
                            
                            <a href='post/{{post.id}}'>See post</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %} 
            <p>There are no posts</p>
        {% endif %} 
    </div>
{% endblock %}

