{% extends 'core/index.html' %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock %}

{% block import %} 
    <link rel='stylesheet' href="{% static 'css/post.css' %}">
{% endblock %}

{% block main %}
    <a href='..'>Back</a>
    
    <div id='post'>
        <p>Written by {{post.author.username}} in {{post.datetime}}</p>

        {% if not post.public %}
            <p>This post is private</p>
        {% endif %}

        <h1>{{post.title}}</h1>

        <div id='content'>
            {% for line in post.break_content %}
                {% if line.0 == '#' %}
                    <b>{{line|slice:'1:'}}</b>
                {% elif line.0 == '$' %}
                    <i>{{line|slice:'1:'}}</i>
                {% elif line.0 == '%' %}
                    <u>{{line|slice:'1:'}}</u>
                {% else %}
                    {{line}}
                {% endif %}
                <br>
            {% endfor %}
        </div> 
        
        <div id='links'>
            {% if post.author == user %}
                <a href='../../edit/{{post.id}}'>Edit Post</a>
            {% endif %}
        </div>

        <div id='comments'>
            <h2>Comments</h2>

            {% if user %}
                <form action='' method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type='submit' value='COMMENT'>
                </form>
            {% endif %}

            {% for comment in post.comment_set.all %}
                <div id='content'>
                    <p>{{comment.datetime}} - <b>{{comment.author}}</b>: {{comment.content}}</p>
                </div>
            {% endfor %}

            {% if amt_comments == 0 %}
                <p>There are no comments</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

