html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e3e3;
}

#post {
    background-color: #eeeeee;
    width: 85%;
    padding: 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#content {
    background-color: #e3e3e3;
    width: 100%%;
    padding: 2%;
}

a {
    font-weight: bold;
    color: green;
    text-decoration: none;
}


